:root {
    --brand-1: #4C6EF5;
    --brand-2: #364FC7;
    --gray-1: #191C1F;
    --gray-2: #212529;
    --gray-3: #343A40;
    --gray-4: #ADB5BD;
    --gray-5: #CED4DA;
    --gray-6: #EDF2FF;
    --gray-7: #F8F9FA;
    --font-Family: "Inter";
    --font-weight-1: 600;
    --font-weight-2: 400;
    --line-height: 150%;
    --font-size-1: 20px;
    --font-size-2: 18px;
    --font-size-3-4: 16px;
}
h1{
    font-family: var(--font-Family);
    font-weight: var(--font-weight-1);
    font-size: 52px;
    line-height: 140%;
}
h2{
    font-family: var(--font-Family);
    font-weight: var(--font-weight-1);
    font-size: 40px;
    line-height: 160%;
}
h3{
    font-family: var(--font-Family);
    font-weight: var(--font-weight-1);
    font-size: 32px;
    line-height: 160%;
}
.text-1{
    font-family: var(--font-Family);
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-1);
    line-height: var(--line-height);
}
.text-2{
    font-family: var(--font-Family);
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-2);
    line-height: var(--line-height);
}
.text-3{
    font-family: var(--font-Family);
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-3-4);
    line-height: var(--line-height);
}
.text-4{
    font-family: var(--font-Family);
    font-weight: var(--font-weight-1);
    font-size: var(--font-size-3-4);
    line-height: var(--line-height);
}
.button__close{
    font-family: Nunito;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
}

dialog::backdrop {
    background-color: rgba(25, 28, 31, 0.8);
  }
.dialog__container{
    padding: 0;
    border: none;
    top: -200px;
}
.modal__container{
    min-width: 504px;
    min-height: 416px;
    padding-top: 40px;
    padding-left: 28px;
    padding-bottom: 40px;
    padding-right: 28px;
    gap: 31px;
    border: 2px solid var(--brand-1);
    background-color: var(--gray-2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal__header{
    width: 448px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal__header h3{
    color: var(--gray-7);
}
.button__close{
    border-radius: 5px;
    padding-right: 12px;
    padding-left: 12px;
    background-color: var(--gray-3);
    color: var(--gray-4);
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-family: "Nunito";
    align-items: center;
    border: none;
}
.modal__container p{
    width: 448px;
    color: var(--gray-4);
}
.modal__container input{
    width: 428px;
    height: 60px;
    background-color: var(--gray-1);
    border: solid 1px var(--gray-1);
    color: var(--gray-4);
    padding-left: 20px;

}
.button__submit{
    width: 448px;
    height: 60px;
    background-color: var(--brand-1);
    border: solid 1px var(--brand-1);
    color: var(--gray-7);
}


header{
    height: 6.25rem;
    width: 100%;
    background-color: var(--gray-1);
    display: flex;
    border-bottom: solid var(--brand-1) 2px;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}
.header__container{
    width: 100%;
    max-width: 1256px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-right: 236px;
    padding-bottom: 20px;
    padding-left: 236px;
}
.button__header{
    color: var(--gray-7);
    background-color: var(--gray-1);
    border: solid var(--gray-7) 1px;
    padding-top: 20px;
    padding-right: 32px;
    padding-bottom: 20px;
    padding-left: 32px;
}


.section__banner{
    width: 100%;
    height: 48.813rem;
    background-color: var(--gray-2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner__div{
    width: 100%;
    max-width: 1256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 44px;
}
.banner__div h1{
    color: var(--gray-6);
}
.banner__div span{
    color: var(--brand-1);
}
.banner__div p{
    max-width: 770px;
    text-align: center;
    color: var(--gray-4);
}
.button__banner{
    color: var(--gray-7);
    background-color: var(--brand-1);
    padding-top: 20px;
    padding-right: 32px;
    padding-bottom: 20px;
    padding-left: 32px;
    border: none;
}

.section__about{
    height: 17.75rem;
    width: 100%;
    background-color: var(--gray-1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 56px;
    padding-top: 82px;
    padding-right: 236px;
    padding-bottom: 82px;
    padding-left: 236px;
}
.about__div h2{
    color: var(--gray-6);
    width: 620px;
    height: 46px;
}
.about__div p{
    color: var(--gray-5);
    width: 580px;
    height: 120px;
}


.section__faq{
    height: fit-content;
    background-color: var(--gray-2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.faq__div__container{
    max-width: 1256px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 56px;
    padding-top: 82px;
    padding-right: 236px;
    padding-bottom: 82px;
    padding-left: 236px;
}
.faq__div__left{
    width: 620px;
    display: flex;
    gap: 10px;
}
.faq__div__div{
    width: 620px;
    height: 280px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 8rem;
}
.faq__div__div h2{
    color: var(--gray-6);
}
.faq__div__div p{
    color: var(--gray-4);
}
.faq__ul__right{
    width: 583pxpx;
    height: fit-content;
    gap: 60px;
    display: flex;
    flex-direction: column;
}
.faq__li{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.faq__li h3{
    text-align: center;
    color: var(--gray-6);
}
.faq__li p{
    color: var(--gray-4);
}
.button__faq{
    width: 266px;
    height: 60px;
    color: var(--gray-7);
    background-color: var(--brand-1);
    padding-top: 20px;
    padding-right: 32px;
    padding-bottom: 20px;
    padding-left: 32px;
    border: none;
}

.section__comments{
    height: fit-content;
    background-color: var(--gray-2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.comments__div__container{
    max-width: 1256px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 56px;
    padding-top: 82px;
    padding-right: 236px;
    padding-bottom: 82px;
    padding-left: 236px;
}
.comments__ul__left{
    width: 100%;
    gap: 60px;
    display: flex;
    flex-direction: column;
}
.comments__li{
    width: 620px;
    display: flex;
    gap: 16px;
}
.comments__li__div{
    width: 192px;
    height: 86px;
    gap: 8px;

}
.comments__li__div h3{
    color: var(--gray-6);
}
.comments__li__div p{
    color: var(--gray-4);
}
.comments__li p{
    width: 412px;
    color: var(--gray-5);
}
.comments__div__right{
    min-height: 443px;
    padding-left: 86.4px;

}
.comments__div__div{
    padding: 80px 52px 80px 52px;
    gap: 35px;
    background-color: var(--brand-1);
    color: var(--gray-7);
    position: sticky;
    top: 8rem;
}


footer{
    height: 102px;
    background-color: var(--gray-1);
    display: flex;
    justify-content: center;
    align-items: center;
}